@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #007BFF;
    --secondary-color: #c9d6ff;
    --background-color: #eeeef1;
    --text-color: #333333;
    --hover-color: #0056b3;
}

body {
    background: linear-gradient(to right, var(--secondary-color), var(--background-color));
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
    color: var(--text-color);
}

#app {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    background: var(--background-color);
    color: var(--text-color);
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin-top: 1cm;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    flex-wrap: wrap;
}

.navbar-brand {
    font-size: 24px;
    text-decoration: none;
    color: var(--text-color);
}

.navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-nav li {
    margin: 10px 0;
}

.navbar-nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s;
}

.navbar-nav a:hover {
}

@media (min-width: 768px) {
    .navbar-nav {
        flex-direction: row;
        align-items: center;
    }

    .navbar-nav li {
        margin: 0 20px;
    }
}

.content {
    display: flex;
    justify-content: space-between; /* Fügt Platz zwischen den Containern hinzu */
    align-items: stretch; /* Richtet die Container am oberen Rand aus und macht sie gleich lang */
    padding: 20px;
    width: 100%;
    margin-top: 1cm;
    gap: 20px; /* Fügt Abstand zwischen den Containern hinzu */
}

.input-container,
.training-entries {
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 20px;
    width: 100%;
    max-width: 600px; /* Feste maximale Breite */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
}